<!DOCTYPE html>
  <html>
    <head>
      <title>About</title>
      <link rel="icon" href="/img/weather.png">
      <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
      <div class="main-content">
        {{>header}}
        <img src="/img/kevin.JPG" class="portrait">
        <p>I'm Kevin Shewey and I made this site!  It uses data from mapbox.com and darksky.net!</p>
        
      </div>
      {{>footer}}
    </body>




  </html>
